<a href="https://colab.research.google.com/github/JesusRios1/Curso_Big_Data/blob/Development/Ejemplo_big_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark
!pip install pandas
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 5.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=f16c7fe1947516590cffa6271f7d7ec28dc1e182d414756a287a0389f8346cf1
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.20.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (1.22.4)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType 
from pyspark.sql.types import ArrayType, DoubleType, BooleanType
from pyspark.sql.functions import col,array_contains

In [ ]:
spark = SparkSession.builder.appName('MyFirstSession').getOrCreate()

In [ ]:
df2 = spark.read.option("header",True) \
     .csv("/content/sample_data/california_housing_test.csv")
df2.printSchema()

root
 |-- longitude: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- housing_median_age: string (nullable = true)
 |-- total_rooms: string (nullable = true)
 |-- total_bedrooms: string (nullable = true)
 |-- population: string (nullable = true)
 |-- households: string (nullable = true)
 |-- median_income: string (nullable = true)
 |-- median_house_value: string (nullable = true)

In [ ]:
df3 = spark.read.options(header='True', delimiter='|') \
  .csv("/content/sample_data/california_housing_test.csv")
df3.printSchema()

root
 |-- "longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value": string (nullable = true)

In [ ]:
df3.show(truncate=False)

+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|longitude  |latitude |housing_median_age|total_rooms|total_bedrooms|population |households |median_income|median_house_value|
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
|-122.050000|37.370000|27.000000         |3885.000000|661.000000    |1537.000000|606.000000 |6.608500     |344700.000000     |
|-118.300000|34.260000|43.000000         |1510.000000|310.000000    |809.000000 |277.000000 |3.599000     |176500.000000     |
|-117.810000|33.780000|27.000000         |3589.000000|507.000000    |1484.000000|495.000000 |5.793400     |270500.000000     |
|-118.360000|33.820000|28.000000         |67.000000  |15.000000     |49.000000  |11.000000  |6.135900     |330000.000000     |
|-119.670000|36.330000|19.000000         |1241.000000|244.000000    |850.000000 |237.000000 |2.937500     |81700.000000      |
|-119.560000|36.510000|37.000000         |1018.000000|213.000000    |663.000000 |204.000000 |1.663500     |67000.000000      |
|-121.430000|38.630000|43.000000         |1009.000000|225.000000    |604.000000 |218.000000 |1.664100     |67000.000000      |
|-120.650000|35.480000|19.000000         |2310.000000|471.000000    |1341.000000|441.000000 |3.225000     |166900.000000     |
|-122.840000|38.400000|15.000000         |3080.000000|617.000000    |1446.000000|599.000000 |3.669600     |194400.000000     |
|-118.020000|34.080000|31.000000         |2402.000000|632.000000    |2830.000000|603.000000 |2.333300     |164200.000000     |
|-118.240000|33.980000|45.000000         |972.000000 |249.000000    |1288.000000|261.000000 |2.205400     |125000.000000     |
|-119.120000|35.850000|37.000000         |736.000000 |166.000000    |564.000000 |138.000000 |2.416700     |58300.000000      |
|-121.930000|37.250000|36.000000         |1089.000000|182.000000    |535.000000 |170.000000 |4.690000     |252600.000000     |
|-117.030000|32.970000|16.000000         |3936.000000|694.000000    |1935.000000|659.000000 |4.562500     |231200.000000     |
|-117.970000|33.730000|27.000000         |2097.000000|325.000000    |1217.000000|331.000000 |5.712100     |222500.000000     |
|-117.990000|33.810000|42.000000         |161.000000 |40.000000     |157.000000 |50.000000  |2.200000     |153100.000000     |
|-120.810000|37.530000|15.000000         |570.000000 |123.000000    |189.000000 |107.000000 |1.875000     |181300.000000     |
|-121.200000|38.690000|26.000000         |3077.000000|607.000000    |1603.000000|595.000000 |2.717400     |137500.000000     |
|-118.880000|34.210000|26.000000         |1590.000000|196.000000    |654.000000 |199.000000 |6.585100     |300000.000000     |
|-122.590000|38.010000|35.000000         |8814.000000|1307.000000   |3450.000000|1258.000000|6.172400     |414300.000000     |
+-----------+---------+------------------+-----------+--------------+-----------+-----------+-------------+------------------+
only showing top 20 rows

In [ ]:
distinctDF = df.distinct()
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(truncate=False)

Distinct count: 3001
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
|_c0        |_c1      |_c2      |_c3         |_c4        |_c5        |_c6        |_c7     |_c8          |
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
|-118.260000|33.940000|41.000000|1510.000000 |410.000000 |1408.000000|389.000000 |1.650000|94200.000000 |
|-120.960000|38.660000|11.000000|2339.000000 |436.000000 |1062.000000|380.000000 |3.903600|180800.000000|
|-117.090000|32.740000|42.000000|1986.000000 |472.000000 |1472.000000|475.000000 |2.175700|110100.000000|
|-118.450000|34.120000|20.000000|10722.000000|1617.000000|3731.000000|1511.000000|9.744900|500001.000000|
|-120.960000|37.590000|11.000000|4236.000000 |879.000000 |2410.000000|850.000000 |2.384900|122000.000000|
|-117.810000|33.660000|20.000000|2851.000000 |490.000000 |1192.000000|463.000000 |5.875200|274200.000000|
|-122.380000|37.590000|31.000000|3052.000000 |844.000000 |1581.000000|788.000000 |3.074400|457700.000000|
|-118.360000|34.140000|30.000000|1376.000000 |317.000000 |629.000000 |320.000000 |3.682300|295200.000000|
|-118.230000|33.960000|36.000000|1062.000000 |270.000000 |1136.000000|273.000000 |1.659700|109100.000000|
|-117.730000|34.120000|26.000000|1279.000000 |163.000000 |412.000000 |157.000000 |6.173100|293800.000000|
|-117.930000|33.920000|34.000000|2271.000000 |437.000000 |1393.000000|433.000000 |4.244300|174400.000000|
|-122.410000|37.710000|28.000000|5015.000000 |1240.000000|3900.000000|1029.000000|1.226900|181900.000000|
|-121.380000|37.880000|44.000000|1158.000000 |226.000000 |1094.000000|224.000000 |2.684200|156300.000000|
|-119.810000|36.770000|49.000000|1749.000000 |314.000000 |705.000000 |300.000000 |3.150000|72200.000000 |
|-118.360000|33.980000|40.000000|1113.000000 |234.000000 |584.000000 |231.000000 |3.092700|316000.000000|
|-118.440000|34.040000|49.000000|32.000000   |7.000000   |14.000000  |7.000000   |2.187500|225000.000000|
|-120.190000|37.530000|25.000000|1470.000000 |341.000000 |706.000000 |283.000000 |1.761400|71300.000000 |
|-117.300000|34.120000|34.000000|1127.000000 |275.000000 |971.000000 |249.000000 |2.058300|64800.000000 |
|-117.230000|32.880000|18.000000|5566.000000 |1465.000000|6303.000000|1458.000000|1.858000|205000.000000|
|-119.750000|36.870000|3.000000 |13802.000000|2244.000000|5226.000000|1972.000000|5.094100|143700.000000|
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
only showing top 20 rows

In [ ]:
df2 = df.dropDuplicates()
print("Distinct count: "+str(df2.count()))
df2.show(truncate=False)

Distinct count: 3001
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
|_c0        |_c1      |_c2      |_c3         |_c4        |_c5        |_c6        |_c7     |_c8          |
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
|-118.260000|33.940000|41.000000|1510.000000 |410.000000 |1408.000000|389.000000 |1.650000|94200.000000 |
|-120.960000|38.660000|11.000000|2339.000000 |436.000000 |1062.000000|380.000000 |3.903600|180800.000000|
|-117.090000|32.740000|42.000000|1986.000000 |472.000000 |1472.000000|475.000000 |2.175700|110100.000000|
|-118.450000|34.120000|20.000000|10722.000000|1617.000000|3731.000000|1511.000000|9.744900|500001.000000|
|-120.960000|37.590000|11.000000|4236.000000 |879.000000 |2410.000000|850.000000 |2.384900|122000.000000|
|-117.810000|33.660000|20.000000|2851.000000 |490.000000 |1192.000000|463.000000 |5.875200|274200.000000|
|-122.380000|37.590000|31.000000|3052.000000 |844.000000 |1581.000000|788.000000 |3.074400|457700.000000|
|-118.360000|34.140000|30.000000|1376.000000 |317.000000 |629.000000 |320.000000 |3.682300|295200.000000|
|-118.230000|33.960000|36.000000|1062.000000 |270.000000 |1136.000000|273.000000 |1.659700|109100.000000|
|-117.730000|34.120000|26.000000|1279.000000 |163.000000 |412.000000 |157.000000 |6.173100|293800.000000|
|-117.930000|33.920000|34.000000|2271.000000 |437.000000 |1393.000000|433.000000 |4.244300|174400.000000|
|-122.410000|37.710000|28.000000|5015.000000 |1240.000000|3900.000000|1029.000000|1.226900|181900.000000|
|-121.380000|37.880000|44.000000|1158.000000 |226.000000 |1094.000000|224.000000 |2.684200|156300.000000|
|-119.810000|36.770000|49.000000|1749.000000 |314.000000 |705.000000 |300.000000 |3.150000|72200.000000 |
|-118.360000|33.980000|40.000000|1113.000000 |234.000000 |584.000000 |231.000000 |3.092700|316000.000000|
|-118.440000|34.040000|49.000000|32.000000   |7.000000   |14.000000  |7.000000   |2.187500|225000.000000|
|-120.190000|37.530000|25.000000|1470.000000 |341.000000 |706.000000 |283.000000 |1.761400|71300.000000 |
|-117.300000|34.120000|34.000000|1127.000000 |275.000000 |971.000000 |249.000000 |2.058300|64800.000000 |
|-117.230000|32.880000|18.000000|5566.000000 |1465.000000|6303.000000|1458.000000|1.858000|205000.000000|
|-119.750000|36.870000|3.000000 |13802.000000|2244.000000|5226.000000|1972.000000|5.094100|143700.000000|
+-----------+---------+---------+------------+-----------+-----------+-----------+--------+-------------+
only showing top 20 rows

In [ ]:
df.na.fill(value=0,subset=["_C0"]).show()

+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|        _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|  longitude| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122.050000|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118.300000|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117.810000|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118.360000|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119.670000|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119.560000|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121.430000|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120.650000|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122.840000|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118.020000|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-118.240000|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-119.120000|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-121.930000|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-117.030000|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-117.970000|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-117.990000|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-120.810000|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-121.200000|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-118.880000|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+-----------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df.withColumn("_c0",col("_C0").cast("Integer")).show()

+----+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
| _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+----+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|null| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-122|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-118|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-117|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-118|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-119|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-119|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-121|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-120|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-122|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-118|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-118|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-119|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-121|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-117|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-117|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-117|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-120|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-121|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-118|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+----+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df.withColumn("_c0",col("_c0")*100).show()

+--------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|     _c0|      _c1|               _c2|        _c3|           _c4|        _c5|       _c6|          _c7|               _c8|
+--------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
|    null| latitude|housing_median_age|total_rooms|total_bedrooms| population|households|median_income|median_house_value|
|-12205.0|37.370000|         27.000000|3885.000000|    661.000000|1537.000000|606.000000|     6.608500|     344700.000000|
|-11830.0|34.260000|         43.000000|1510.000000|    310.000000| 809.000000|277.000000|     3.599000|     176500.000000|
|-11781.0|33.780000|         27.000000|3589.000000|    507.000000|1484.000000|495.000000|     5.793400|     270500.000000|
|-11836.0|33.820000|         28.000000|  67.000000|     15.000000|  49.000000| 11.000000|     6.135900|     330000.000000|
|-11967.0|36.330000|         19.000000|1241.000000|    244.000000| 850.000000|237.000000|     2.937500|      81700.000000|
|-11956.0|36.510000|         37.000000|1018.000000|    213.000000| 663.000000|204.000000|     1.663500|      67000.000000|
|-12143.0|38.630000|         43.000000|1009.000000|    225.000000| 604.000000|218.000000|     1.664100|      67000.000000|
|-12065.0|35.480000|         19.000000|2310.000000|    471.000000|1341.000000|441.000000|     3.225000|     166900.000000|
|-12284.0|38.400000|         15.000000|3080.000000|    617.000000|1446.000000|599.000000|     3.669600|     194400.000000|
|-11802.0|34.080000|         31.000000|2402.000000|    632.000000|2830.000000|603.000000|     2.333300|     164200.000000|
|-11824.0|33.980000|         45.000000| 972.000000|    249.000000|1288.000000|261.000000|     2.205400|     125000.000000|
|-11912.0|35.850000|         37.000000| 736.000000|    166.000000| 564.000000|138.000000|     2.416700|      58300.000000|
|-12193.0|37.250000|         36.000000|1089.000000|    182.000000| 535.000000|170.000000|     4.690000|     252600.000000|
|-11703.0|32.970000|         16.000000|3936.000000|    694.000000|1935.000000|659.000000|     4.562500|     231200.000000|
|-11797.0|33.730000|         27.000000|2097.000000|    325.000000|1217.000000|331.000000|     5.712100|     222500.000000|
|-11799.0|33.810000|         42.000000| 161.000000|     40.000000| 157.000000| 50.000000|     2.200000|     153100.000000|
|-12081.0|37.530000|         15.000000| 570.000000|    123.000000| 189.000000|107.000000|     1.875000|     181300.000000|
|-12120.0|38.690000|         26.000000|3077.000000|    607.000000|1603.000000|595.000000|     2.717400|     137500.000000|
|-11888.0|34.210000|         26.000000|1590.000000|    196.000000| 654.000000|199.000000|     6.585100|     300000.000000|
+--------+---------+------------------+-----------+--------------+-----------+----------+-------------+------------------+
only showing top 20 rows

In [ ]:
df2.write.option("header",True) \
 .csv("/content/sample_data/Ejercicio")